<form action="/login" method="post">
    <input type="email" name="email" placeholder="john@gmail.com" required>
    <input type="password" name="password" required>
    <label for="remember">
        Recordarme
        <input type="checkbox" name="remember">
    </label>
    <button type="submit">Entrar</button>
</form>