<form action="/register" method="post">
    <input type="text" name="name" placeholder="John" required>
    <input type="email" name="email" placeholder="john@gmail.com" required>
    <input type="password" name="password" required>
    <button type="submit">Registrar</button>
</form>