<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/CharlesBabbage.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Charles Babbage</h1>
                <p><strong>Profesión: </strong>Matemático y Científico de la Computación</p>
                <p><strong>País: </strong>Reino Unido</p>
                <p><strong>Resenia: </strong> Charles Babbage FRS (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico.1​ Diseñó y desarrolló parcialmente una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como «El Padre de la Computación». En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>