<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/berners-lee.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Tim Berners-Lee</h1>
                <p><strong>Profesión: </strong>Científico de la Computación</p>
                <p><strong>País: </strong>Reino Unido</p>
                <p><strong>Resenia: </strong> Timothy \"Tim\" John Berners-Lee, KBE,1​ OM,1​ FRS,1​ FREng,1​ FRSA,1​ (Londres, Reino Unido, 8 de junio de 1955) es un científico de la computación británica, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en noviembre de 1989. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>