<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Joan-Clarke.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Joan Clarke</h1>
                <p><strong>Nombre: </strong>Criptoanalista y Numismática</p>
                <p><strong>País: </strong>Reino Unido</p>
                <p><strong>Resenia: </strong> Joan Elisabeth Lowther Murray (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial. Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.1</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>