<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Grace_M._Hopper.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Grace Hopper</h1>
                <p><strong>Profesión: </strong>Científica de la Computación y Militar</p>
                <p><strong>País: </strong>Estados Unidos</p>
                <p><strong>Resenia: </strong> Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992). La contralmirante Dra. Grace Murray Hopper fue pionera en el desarrollo de lenguajes de programación accesibles escritos en Inglés. Estaba convencida que la informática debía extenderse a las aplicaciones de negocio no científicas y requirió lenguajes de programación más simples.Partía de la idea de que los ordenadores no entienden Inglés, y llevó años antes de que se aceptaran sus ideas.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>