<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
        <img src="/img/cielo-rojo-dark.jpg" alt="">
        <main class="index">
            <h1>Bienvenido a DH Heroes</h1>
            <p class="index">
                Ni Superman, Iron Man o La Mujer Maravilla son tan importantes cómo las 
                y los Heroes de carne y hueso que encontrarás en este sitio. Esperamos que 
                ellas y ellos te sirvan como inspiración para poder cumplir tus objetivos. 
                Y recuerda: <br> ¡Nunca pares de creer en ti!
            </p>
            <ul>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace M. Hopper</a></li>
            </ul>
        </main>

</body>
</html>