<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Ada_Lovelace_Chalon.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Ada Lovelace</h1>
                <p><strong>Profesión: </strong>Matemática e Informática</p>
                <p><strong>País: </strong>Reino Unido</p>
                <p><strong>Resenia: </strong> Augusta Ada King, Condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática, informática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>