<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Alan_Turing.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Alan Turing</h1>
                <p><strong>Profesión: </strong>Matemática e Informática</p>
                <p><strong>País: </strong>Reino Unido</p>
                <p><strong>Resenia: </strong>Alan Mathison Turing (Paddington, Londres, 23 de junio de 1912-Wilmslow, Cheshire, 7 de junio de 1954), fue un matemático, lógico, científico de la computación, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico. Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>