<!-- Navbar (sit on top) -->
<nav class="ps-top">
    <div class="ps-bar ps-white ps-padding ps-card ps-nav">
        <a href="#home" class="ps-bar-item ps-button">Pimienta & Sal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="ps-right ps-hide-small">
        <a href="#about" class="ps-bar-item ps-button">About</a>
        <a href="#menu" class="ps-bar-item ps-button">Menu</a>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="ps-display-container ps-content ps-wide" id="home">
    <img
        class="ps-image"
        src="/images/header.jpg"
        alt="Pimienta & Sal"
        width="1600"
        height="800"
    />
    <div class="ps-display-bottomleft ps-padding-large ps-opacity">
        <h1 class="ps-xxlarge">Sabores que enamoran</h1>
    </div>
</header>