<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
    <body>
        <header>
            <img src="/images/logo-mercado-liebre.svg" 
                width="360" 
                alt="Logo de Mercado Liebre"
            >
            <p>Lugar para poner barra de búsqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta</a>
                    </li>
                    <li>
                        <a href="/login">Ingresá</a>
                    </li>
                    <li>
                        <a href="#">Mis compras</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <img src="/images/img-home-banner.jpg" 
                width="360" 
                alt="Banner de ofertas"
            >
        </section>

        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <img src="/images/img-cafetera-moulinex.jpg" 
                    width="360" 
                    alt="Cafetera" 
                >
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>

                <img src="/images/img-macbook-pro-2019.jpg" 
                    width="360" 
                    alt="MacBook"
                >
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>

                <img src="/images/img-samsung-galaxy-s10.jpg" 
                    width="360" 
                    alt="Teléfono Móvil Samsung Galaxy"
                >
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>

                <img src="/images/img-tv-samsung-smart.jpg" 
                    width="360" 
                    alt="SmartTv Samsung"
                >
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </section>

            <section>
                <h3>Ofertas</h3>      
                <img src="/images/img-cafetera-moulinex.jpg" 
                    width="360" 
                    alt="Cafetera"
                >                
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                <img src="/images/img-macbook-pro-2019.jpg" 
                    width="360" 
                    alt="MacBook"
                >                
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                <img src="/images/img-samsung-galaxy-s10.jpg" 
                    width="360" 
                    alt="Teléfono Móvil Samsung Galaxy"
                >                
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                <img src="/images/img-tv-samsung-smart.jpg" 
                    width="360" 
                    alt="SmartTv Samsung"
                >
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </section>

        </main>

        <footer>
        </footer>

    </body>
</html>