* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
}

h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}