<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= genre.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= genre.name %> </h1>
    <br>
    <p>NAME: <%= genre.name %> </p>
    <p>RANKIG: <%= genre.ranking %> </p>

</body>
</html>