<form action="/products" method="post">
    <input type="text" name="titulo" placeholder="Title">
    <input type="text" name="currency" placeholder="Currency">
    <input type="text" name="price" placeholder="Price">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" value="Create">
</form>